<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h5> Hi Ajackus</h5>
  <p> This is <%= "#{@contact.first_name}  #{@contact.last_name}, #{@contact.message}" %> </p>
</body>
</html>
